
body *{
  font-family: 'noto sans KR';
}

body{position: relative;}
a{
  text-decoration: none;
}
.font1{
  font-size: 40px; font-weight: 900; margin-bottom: 60px;
}


@media screen and (min-width: 1240px){

  header>div,
  section.videoArea>div,
  section.aboutArea>div,
  article.albumArea>div,
  section.playArea,
  section.galleryArea h2,
  footer>div{
    max-width: 1240px; margin: 0 auto; 
  }

  header{
    z-index: 10;
    width: 100%; box-shadow: 0px 5px 10px 0px rgba(60, 60, 60, .2); position: fixed; top: 0; left: 0; background-color: #ffffff; 
  }
  header>div::after{
    content: ''; visibility: hidden; clear: both; display: block;
  }
  header > div > *{
    float: left;
  }
  header>div h1{
    max-width: 105px; line-height: 80px;
  }
  header>div h1 a{
    display: block;
  }
  header>div h1 a img{
    width: 100%;
  }
  header>div input,
  header>div label{
    display: none;
  }
  header>div nav{
    padding-left: 63%; line-height: 80px;
  }
  header>div nav ul li{
    display: inline-block; text-align: right; 
  }
  header>div nav ul li a{
    font-size: 16px; font-weight: 500; opacity: 0.4; color: #456cb0; box-sizing: border-box;
  }
  header>div nav ul li a.navActive,
  header>div nav ul li a:hover{
    opacity: 1; border-bottom: 2px solid #456cb0; 
  }
  header>div nav ul li:not(:first-child){
    margin-left: 20px; 
  }



  footer{
    background-color: #25375d; padding-top: 60px; min-height: 240px; box-sizing: border-box;
  }
  footer div{
    color: #ffffff;
  }
  footer>div h1{
    max-width: 105px; line-height: 80px;
  }
  footer>div>* a{
    color: #ffffff; 
  }
  footer>div *{
    float: left;
  }
  footer>div nav{
    padding-left: 25%; line-height: 80px;
  }
  footer>div nav ul li{
    display: inline-block; text-align: right; 
  }
  footer>div nav ul li a{
    font-size: 16px; font-weight: 500; opacity: 0.4; box-sizing: border-box;
  }
  footer>div nav ul li a.navActive,
  footer>div nav ul li a:hover{
    opacity: 1;
  }
  footer>div nav ul li:not(:first-child){
    margin-left: 20px; 
  }
  footer>div ol{
    list-style: none;
  }
  footer>div ol li a{
    display: block;
  }
  footer>div ol li:nth-child(1) a{
    background-image: url('../images/bul_sns1.png') no-repeat; text-indent: -9999;
  }
  footer>div ol li:nth-child(2) a{
    background-image: url('../images/bul_sns1.png') no-repeat; text-indent: -9999;
  }
  footer>div ol li:nth-child(3) a{
    background-image: url('../images/bul_sns1.png') no-repeat; text-indent: -9999;
  }
  footer>div ol li:nth-child(4) a{
    background-image: url('../images/bul_sns1.png') no-repeat; text-indent: -9999;
  }



}