

@media screen and (min-width:1240px){
    section.albumArea,
    section.playArea{
        margin-bottom: 150px;
    }

    section.videoArea{
        padding-top: 80px; overflow: hidden; max-height: 697px; position: relative; 
    }
    section.videoArea h2{
        display: none;
    }
    section.videoArea>video{
        display: block; filter: blur(5px); width: 100%; height: 100%;
    }
    section.videoArea > div video{
        position: absolute; top: 10.5%;  width: 1240px; height: 700px;
        max-height: 697px; margin: 0 auto; z-index: 10;
        /* left 없어도 될까요? */
    }



    section.aboutArea{
        overflow: hidden;
    }
    section.aboutArea>div{
        position: relative; padding: 150px 0;
    }
    section.aboutArea>div>span{
        color:#456cb0; font-weight: 900; font-size: 400px; transform: rotate(90deg); opacity: 0.25; 
        position: absolute; top: 25%; right: -40%; letter-spacing: -10px; 
    }
    section.aboutArea div{
        overflow: hidden;
    }
    section.aboutArea div h2{
        color: #456cb0;
    }
    section.aboutArea figure::after{
        content: ''; visibility: hidden; display: block; clear: both;
    }
    section.aboutArea figure>*{
        float: left; 
    }
    section.aboutArea figure img{
        width: 100%; max-width: 610px;
    }
    section.aboutArea figure figcaption{
        width: 49.19%; padding: 20px 0 0 20px;
    }
    section.aboutArea figure figcaption ul{
        margin-bottom: 60px;
    }
    section.aboutArea figure figcaption ul::after{
        content: ''; visibility: hidden; display: block; clear: both;
    }
    section.aboutArea figure figcaption ul li{
        float: left; list-style: none; width: 100%; line-height: 25px; 
    }
    section.aboutArea figure figcaption ul li::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.aboutArea figure figcaption ul li h3{
        float: left; max-width: 200px; opacity: 0.8; width: 35.08%; font-weight: 500; font-size: 25px; 
    }
    section.aboutArea figure figcaption ul li span{
        float: left; opacity: 0.4; display: block; font-size: 20px; 
    }
    section.aboutArea figure figcaption p{
        line-height: 30px; opacity: 0.7;
    }



    section.albumArea:before{
        content: ''; display: block; background-color: rgba(0, 0, 0, 0.5); position: absolute; left: 0;top: 0; 
        width: 100%; height: 100%; 
    }
    section.albumArea{
        background: url('../images/Album_8.jpg') no-repeat center; position: relative;
        background-size: cover; padding-top: 150px; padding: 150px 0; 
    }
    section.albumArea>div{
        position: relative;
    }
    section.albumArea>div h2{
        color: #ffffff; 
    }
    section.albumArea>div>div{
        color: #ffffff; 
        padding-right: calc(100% - 637px);
        /* width: 637px; margin: 0; */
        /* width 637을 삭제하고 전체를 width로 가진 다음에 패딩으로 텍스트들을 가둔다. */
    }
    /* section.albumArea>div>div h3::after{
        position: absolute;
        content: ''; display: block; background: url('../images/Album_8.jpg') no-repeat; width: 100%; height: 100%; 
        max-width: 505px; max-height: 505px; position: absolute; left: 100%; top: 0; 
    } */
    section.albumArea>div>div::after{
        content: ''; display: block; background: url('../images/Album_8.jpg') no-repeat center; height: 100%; 
        background-size: cover;
        width: calc(100% - 657px); position: absolute; right: 0; top: 0; 
        /* width 값을 div + 간격 만큼 전체에서 삭제 후 position left가 아닌 right로 적용한다 */
    }
    section.albumArea>div>div h3{
        font-size: 25px; margin-bottom: 20px; opacity: 0.8;
    }
    section.albumArea>div>div span{
        opacity: 0.5; margin-bottom: 40px; display: block;
    }
    section.albumArea>div>div p{
        opacity: 0.7; line-height: 30px;
        /* position: relative; */
    }
    section.albumArea>div>div p:first-of-type{
        padding-top: 20px; box-sizing: border-box;
    }
    section.albumArea>div>div p:first-of-type::before{
        content: ''; display: block; width: 30px; border-top: 2px solid rgba(255, 255, 255, 0.5); box-sizing: border-box; margin-bottom: 20px;
    }
    section.albumArea>div>div p:not(:last-of-type){
        margin-bottom: 20px;
    }



    section.playArea::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.playArea h2{
        color: #456cb0;
    }
    section.playArea img{
        max-width: 610px; max-height: 670px; width: 100%; float: left;
    }
    section.playArea>ul.playlist{
        list-style: none; width: 50.80%; float: left; background-color: #27203f; 
        padding: 4.83%; box-sizing: border-box; min-height: 495px;
    }
    section.playArea>ul.playlist>li.albumActive{
        display: block;
    }
    .swiper-wrapper >div{
        opacity: 0.3; 
    }
    .swiper-wrapper >div.albumActive,
    .swiper-wrapper >div:hover{
        opacity: 1;
    }
    section.playArea>ul.playlist>li{
        color: #ffffff; display: none; 
    }
    section.playArea>ul.playlist>li>span{
        font-weight: 500; font-size: 16px; margin-bottom: 20px; display: block; opacity: 0.7;
    }
    section.playArea>ul.playlist>li>h3{
        font-weight: 500; font-size: 25px; margin-bottom: 60px;
    }
    section.playArea>ul.playlist>li ol{
        list-style:none; overflow-y: auto; max-height: 254px; 
    }
    section.playArea>ul.playlist>li ol li::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    section.playArea>ul.playlist>li ol li{
        float: left; width: 100%; margin-bottom: 60px;
    }
    section.playArea>ul.playlist>li ol li>*{
        float: left;
    }
    section.playArea>ul.playlist>li ol li{
        opacity: 0.3;
    }
    section.playArea>ul.playlist>li ol li.listActive{
        opacity: 1; color: #a7d4ce;
    }
    section.playArea>ul.playlist>li ol li p:first-of-type{
        position: relative; padding-left: 6.34%; width: 65%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
    section.playArea>ul.playlist>li ol li p:last-of-type{
        width: 10%; margin: 0; text-align: right; padding-left: 5%;
    }
    section.playArea>ul.playlist>li ol li p:first-of-type:before{
        content: ''; position: absolute; left: 0; top: 0; background: url('../images/play-button_03.png') no-repeat; 
        width: 13px; height: 16px;
    }

    section.playArea>div:nth-of-type(2){
        float: left; position: relative; min-height: 115px; width: 50.80%; background-color: #1d1633;
        padding: 30px 4.83%; box-sizing: border-box;
    }
    section.playArea>div:nth-of-type(2) input[type='button']:hover{
        background-color: #456cb0;
    }
    section.playArea>div:nth-of-type(2) input{
        border:none; background-color: #a7d4ce;
        position: absolute; left: 45%; top: 20%; background-image: url('../images/btn_play.png');
        text-indent: -9999px; width: 70px; height: 70px; border-radius: 35px;
    }
    section.playArea>div:nth-of-type(2) input.playAreabutton{
        background-image: url('../images/btn_pause.png');border:none; background-color: #a7d4ce;
        position: absolute; left: 45%; top: 20%;
        text-indent: -9999px; width: 70px; height: 70px; border-radius: 35px;
    }
    section.playArea>div:nth-of-type(2) ul li{
        color: #ffffff; list-style: none; 
    }
    section.playArea>div:nth-of-type(2) ul li>*:not(:last-child){
        float: left; 
    }
    section.playArea>div:nth-of-type(2) ul li.listActive span{
        opacity: 0.5; margin-bottom: 20px; display: block; width: 100%; 
    }
    section.playArea>div:nth-of-type(2) ul li.listActive p:first-of-type{
        color: #a7d4ce; font-size: 20px; max-width: 190px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
    section.playArea>div:nth-of-type(2) ul li.listActive p:last-of-type{
        padding-left: 50%; float: right;
    }
    section.playArea>div:nth-of-type(2) ul li::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }


    .playArea>ul.playlist>li>ol::-webkit-scrollbar {
        width: 10px;
        background-color: #ffffff;
    }
    .playArea>ul.playlist>li>ol::-webkit-scrollbar-thumb {
        background-color:#27203f;
        border: 3px solid #ffffff;
    }
    .playArea>ul.playlist>li>ol::-webkit-scrollbar-thumb:hover{
        background-color: #8171bb; opacity: 0.5;
    }


    .swiper-container{
        width: 100%;
        height: 50%;
    }
    .swiper-slide {
        width: 20%;
        text-align: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    section.playArea .swiper-total{
        position: relative; clear: both; margin-bottom: 30px;
    }
    .swiper-slide .swiper-slide{
        width: 100%;
    }
    section.playArea .swiper-total .swiper-container .swiper-wrapper .swiper-slide img{
        width: 100%;
    }
    section.playArea .swiper-total>div:nth-of-type(2),
    section.playArea .swiper-total>div:nth-of-type(3){
        position: absolute; top: 50%;
    }
    section.playArea .swiper-total .swiper-button-prev{
        left: -5%; 
    }
    section.playArea .swiper-total .swiper-button-next{
        right: -5%;
    }



    section.galleryArea{
        width: 100%;
    }
    section.galleryArea h2{
        color: #456cb0; margin-bottom: 60px; 
        /* 왜 여기에 마진 넣어야지 적용되는지 생각해보기 */
    }
    section.galleryArea::after{
        content: ''; visibility: hidden; clear: both; display: block;
    }
    section.galleryArea a{
        width: 33.33%; float: left; line-height: 0;
    }
    section.galleryArea a img{
        width: 100%;
    }




}