

@media screen and (min-width:1240px){
    
    section.videoArea,
    section.aboutArea{
        margin-bottom: 150px;
    }

    section.videoArea{
        padding-top: 80px; position: relative;
    }

    section.aboutArea div h2{
        color: #456cb0;
    }
    section.aboutArea div>span{
        color:#456cb0; font-weight: 900; font-size: 300px; transform: rotate(90deg); opacity: 0.25; 
        position: absolute; top: 3%; right: -5%;
    }
    section.aboutArea figure::after{
        content: ''; visibility: hidden; display: block; clear: both;
    }
    section.aboutArea figure>*{
        float: left; 
    }
    section.aboutArea figure img{
        width: 100%; max-width: 610px;
    }
    section.aboutArea figure figcaption{
        width: 49.19%; padding: 20px 0 0 20px;
    }
    section.aboutArea figure figcaption ul{
        margin-bottom: 60px;
    }
    section.aboutArea figure figcaption ul::after{
        content: ''; visibility: hidden; display: block; clear: both;
    }
    section.aboutArea figure figcaption ul li{
        float: left; list-style: none; width: 100%; font-size: 25px;
    }
    section.aboutArea figure figcaption ul li h3{
        max-width: 200px; opacity: 0.8; width: 35.08%; font-weight: 500; 
    }
    section.aboutArea figure figcaption ul li span{
        padding-left: 300px; opacity: 0.5; display: block; width: 64.91%;
    }
    section.aboutArea figure figcaption p{
        line-height: 30px; 
    }



    article.albumArea{
        background: url('../images/Album_8.jpg') no-repeat center;
        background-size: cover; padding-top: 150px;
    }
    article.albumArea>div h2{
        color: #ffffff;
    }
    article.albumArea>div>div{
        max-width: 505px;
    }








    .swiper-container{
        width: 100%;
        height: 50%;
    }
    .swiper-slide {
        width: 20%;
        text-align: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    section.playArea .swiper-total{
        max-width: 1240px; margin: 0 auto; position: relative;
    }
    .swiper-slide .swiper-slide{
        width: 100%;
    }
    section.playArea .swiper-total .swiper-container .swiper-wrapper .swiper-slide img{
        width: 100%;
    }
    section.playArea .swiper-total .swiper-button-prev{
        left: -5%;
    }
    section.playArea .swiper-total .swiper-button-next{
        right: -5%;
    }


    section.gallery
    




}