
html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 80%;
    height: 50%;
  }
  
  .swiper-slide {
    width: 20%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-color: cadetblue;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  @media (max-width: 760px) {
    .swiper-button-next {
      right: -20px;
      transform: rotate(90deg);
    }
  
    .swiper-button-prev {
      left: -20px;
      transform: rotate(90deg);
    }
  }
ul.a >li{
    background-color: cadetblue; display: none;
}
ul.a >li.albumActive{
    background-color: blue; display: block;
}
.swiper-wrapper >div{
    background-color: darkblue;
}
.swiper-wrapper >div.albumActive{
    background-color: crimson;
}
img{
  width: 100%;
}
ul.a >li ol li{
  background-color: #fff;
}
ul.a >li ol li.listActive{
  background-color: blueviolet;
}
